@font-face {font-family: "Droid Sans";src: url("DroidSans-webfont.eot");src: url("DroidSans-webfont.eot?#iefix") format("embedded-opentype"),url("DroidSans-webfont.woff") format("woff"),url("DroidSans-webfont.ttf") format("truetype"),url("DroidSans-webfont.svg#droid_sansregular") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Ubuntu Light";src: url("ubuntu-light-webfont.eot");src: url("ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"),url("ubuntu-light-webfont.woff") format("woff"),url("ubuntu-light-webfont.ttf") format("truetype"),url("ubuntu-light-webfont.svg#ubuntulight") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Ubuntu";src: url("ubuntu-regular-webfont.eot");src: url("ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"),url("ubuntu-regular-webfont.woff") format("woff"),url("ubuntu-regular-webfont.ttf") format("truetype"),url("ubuntu-regular-webfont.svg#ubunturegular") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Open Sans";src: url("OpenSans-Regular-webfont.eot");src: url("OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("OpenSans-Regular-webfont.woff") format("woff"),url("OpenSans-Regular-webfont.ttf") format("truetype"),url("OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Open Sans Light";src: url("OpenSans-Light-webfont.eot");src: url("OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),url("OpenSans-Light-webfont.woff") format("woff"),url("OpenSans-Light-webfont.ttf") format("truetype"),url("OpenSans-Light-webfont.svg#OpenSansLight") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Bebas Neue";src: url("BebasNeue-webfont.eot");src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),url("BebasNeue-webfont.woff") format("woff"),url("BebasNeue-webfont.ttf") format("truetype"),url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Yanone Kaffeesatz Regular";src: url("yanonekaffeesatz-regular-webfont.eot");src: url("yanonekaffeesatz-regular-webfont.eot?#iefix") format("embedded-opentype"),url("yanonekaffeesatz-regular-webfont.woff") format("woff"),url("yanonekaffeesatz-regular-webfont.ttf") format("truetype"),url("yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Yanone Kaffeesatz Light";src: url("yanonekaffeesatz-light-webfont.eot");src: url("yanonekaffeesatz-light-webfont.eot?#iefix") format("embedded-opentype"),url("yanonekaffeesatz-light-webfont.woff") format("woff"),url("yanonekaffeesatz-light-webfont.ttf") format("truetype"),url("yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Oswald Light";src: url("Oswald-Light-webfont.eot");src: url("Oswald-Light-webfont.eot?#iefix") format("embedded-opentype"),url("Oswald-Light-webfont.woff") format("woff"),url("Oswald-Light-webfont.ttf") format("truetype"),url("Oswald-Light-webfont.svg#OswaldLight") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "Oswald";src: url("Oswald-Regular-webfont.eot");src: url("Oswald-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("Oswald-Regular-webfont.woff") format("woff"),url("Oswald-Regular-webfont.ttf") format("truetype"),url("Oswald-Regular-webfont.svg#OswaldBook") format("svg");font-weight: normal;font-style: normal;}
@font-face {font-family: "elusive";src: url("elusive.eot");src: url("elusive.eot?#iefix") format("embedded-opentype"),url("elusive.woff") format("woff"),url("elusive.ttf") format("truetype"),url("elusive.svg?#elusive") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"]:before, [class*=" icon-"]:before {font-family: "elusive";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;margin-right: .2em;text-align: center;font-variant: normal;text-transform: none;line-height: inherit;margin-left: .2em;cursor: inherit;font-size: inherit;}
.icon-author:before {content: "";}
.icon-category:before {content: "";}
.icon-category2:before {content: "";}
.icon-folder-close:before {content: "";}
.icon-folder-open:before {content: "";}
.icon-tag:before {content: "";}
.icon-bookmark:before {content: "";}
.icon-edit:before {content: "";}
.icon-comment:before {content: "";}
.icon-comments:before {content: "";}
.icon-replies {float: left;margin-right: 5px;}
.icon-replies:before {content: "";font-size: 26px;}
.icon-date:before {content: "";}
.icon-time:before {content: "";}
.icon-forward:before {content: "";-webkit-transform: rotate(180deg) scale(-1,1);-ms-transform: rotate(180deg) scale(-1,1);transform: rotate(180deg) scale(-1,1);margin-left: 5px;font-size: 10px;-moz-transition: .2s margin ease;-o-transition: .2s margin ease;-webkit-transition: .2s margin ease;transition: .2s margin ease;}
.icon-reply:before {content: "";transform: rotate(180deg);-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);margin-right: 5px;font-size: 10px;-moz-transition: .2s margin ease;-o-transition: .2s margin ease;-webkit-transition: .2s margin ease;transition: .2s margin ease;}
.icon-metas:before {font-size: 11px;cursor: pointer;margin-right: 5px;color: #555;}
.icon-comments:before {font-size: 12px;}
.icon-time:before, .icon-folder-close:before, .icon-folder-open:before {font-size: 11px;}
.icon-edit:before {margin-right: 1px;}
.icon-status:before {content: "";}
.icon-aside:before {content: "";}
.icon-link:before {content: "";}
.icon-audio:before {content: "";}
.icon-video:before {content: "";}
.icon-image:before {content: "";}
.icon-gallery:before {content: "";}
.icon-quote:before {content: "";}
.icon-search:before {content: "";}
.icon-down-dir:before {content: "";}
.icon-right-dir:before {content: "";}
.icon-angle-left:before {content: "";}
.icon-angle-right:before {content: "";}
.icon-angle-up:before {content: "";}
.icon-angle-down:before {content: "";}
.icon-minus:before {content: "";}
.icon-left-open:before {content: "";}
.icon-up:before {content: "";}
.icon-left-dir:before {content: "";}
.icon-up-open:before {content: "";}
.icon-ok:before {content: "";}
.icon-cancel:before {content: "";}
.icon-up-dir:before {content: "";}
.icon-right-open:before {content: "";}
.icon-home:before {content: "";}
.icon-menu:before {content: "";}
.icon-plus:before {content: "";}
.icon-down-open:before {content: "";}
.icon-down:before {content: "";}
.icon-left:before {content: "";}
.icon-right:before {content: "";}
.icon-star-empty:before {content: "";}
.icon-star:before {content: "";}
.icon-mail:before {content: "";}
.icon-home-1:before {content: "";}
.icon-attach:before {content: "";}
.icon-eye:before {content: "";}
.icon-eye-off:before {content: "";}
.icon-tags:before {content: "";}
.icon-flag:before {content: "";}
.icon-warning:before {content: "";}
.icon-location:before {content: "";}
.icon-trash:before {content: "";}
.icon-doc:before {content: "";}
.icon-phone:before {content: "";}
.icon-cog:before {content: "";}
.icon-basket:before {content: "";}
.icon-basket-circled:before {content: "";}
.icon-wrench:before {content: "";}
.icon-wrench-circled:before {content: "";}
.icon-mic:before {content: "";}
.icon-volume:before {content: "";}
.icon-volume-down:before {content: "";}
.icon-volume-off:before {content: "";}
.icon-headphones:before {content: "";}
.icon-lightbulb:before {content: "";}
.icon-resize-full:before {content: "";}
.icon-resize-full-alt:before {content: "";}
.icon-resize-small:before {content: "";}
.icon-resize-vertical:before {content: "";}
.icon-resize-horizontal:before {content: "";}
.icon-move:before {content: "";}
.icon-zoom-in:before {content: "";}
.icon-zoom-out:before {content: "";}
.icon-arrows-cw:before {content: "";}
.icon-desktop:before {content: "";}
.icon-inbox:before {content: "";}
.icon-cloud:before {content: "";}
.icon-book:before {content: "";}
.icon-certificate:before {content: "";}
.icon-tasks:before {content: "";}
.icon-thumbs-up:before {content: "";}
.icon-thumbs-down:before {content: "";}
.icon-help-circled:before {content: "";}
.icon-star-circled:before {content: "";}
.icon-bell:before {content: "";}
.icon-rss:before {content: "";}
.icon-trash-circled:before {content: "";}
.icon-cogs:before {content: "";}
.icon-cog-circled:before {content: "";}
.icon-calendar-circled:before {content: "";}
.icon-mic-circled:before {content: "";}
.icon-volume-up:before {content: "";}
.icon-print:before {content: "";}
.icon-edit-alt:before {content: "";}
.icon-edit-2:before {content: "";}
.icon-block:before {content: "";}